<header>
    <div class="main">
        <div>
            <img src="../../../assets/manager.jpg" alt="">
            <span>Customer Manager</span>
        </div>
        <ul>
            <li>
                <button class="btn" routerLink="home">Customers</button>
            </li>
            <li>
                <button class="btn">Orders</button>
            </li>
            <li>
                <button class="btn" routerLink="about">About</button>
            </li>
            <li>
                <button class="btn" routerLink="">Login</button>
            </li>
        </ul>
    </div>
</header>

